<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    
</head>
<body>
    <span class="circle three"></span>
    <span class="circle four"></span>
    <div class="container1">
        <div class="myCard">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <div class="row">
                <div class="col-md-12">
                    <div class="myLeftCtn">
                        <form action="" class="myForm text-center">
                            <header>Daily Feedback</header>
                            <div class="form-group first">
                                <input type="text" class="myInput" placeholder="First Name" required>
                                <!-- <label class="label">First Name</label> -->
                            </div>
                            <div class="form-group">
                                <input type="text" class="myInput" placeholder="Last Name">
                                <!-- <label class="label">Last Name</label> -->
                            </div>
                            <div class="form-group">
                                <input type="email" class="myInput" placeholder="Email" required>
                                <!-- <label class="label">Email Address</label> -->
                            </div>
                            <div class="form-group">
                                <input type="tel" class="myInput" placeholder="Phone Number" required>
                                <!-- <label class="label">Phone Number</label> -->
                            </div>
                            <div class="form-group">
                                <div class="custom-selector">
                                    <select>
                                        <option value="">Subscription Plan</option>
                                        <option value="">1 Month Plan</option>
                                        <option value="">3 Month Plan</option>
                                        <option value="">6 Month Plan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="question">Have you experienced any of the following symptoms in the past 48 hours:
                                    Fever or Chills, Cough, Shortness of breathing or difficulty breathing, fatigue, muscle or body aches, headache, loss of taste or smell, sore throat, congestion or runny nose, nausea or vomiting, diarrhea
                                </label><br>
                                <input type="radio" id="yes_opt2" name="yes_no2" required>
                                <label for="yes_opt2">Yes</label>
                                <input type="radio" id="no_opt2" name="yes_no2">
                                <label for="no_opt2">No</label>
                            </div>
                            <div class="form-group">
                                <label class="question">Have you had close contact with a laboratory confirmed case of COVID-19 in the last 14 days?</label><br>
                                <input type="radio" id="yes_opt3" name="yes_no3" required>
                                <label for="yes_opt3">Yes</label>
                                <input type="radio" id="no_opt3" name="yes_no3">
                                <label for="no_opt3">No</label>
                            </div>
                            <div class="form-group">
                                <label class="question">Was your daily temperature self-screening greater than 100.4 degrees fahrenheit?</label><br>
                                <input type="radio" id="yes_opt4" name="yes_no4" required>
                                <label for="yes_opt4">Yes</label>
                                <input type="radio" id="no_opt4" name="yes_no4">
                                <label for="no_opt4">No</label>
                            </div>
                            <div class="form-group">
                                <button class="Submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>