
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script> -->
    <!-- <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script> -->
    <script
      type="text/javascript"
      src="https://web.squarecdn.com/v1/square.js"
    ></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/3c3721e7e6.js" crossorigin="anonymous"></script>
    <title>Push The Limit Fitness</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5b67020a372b96495b33100f/1559175242910-J3CGRWCYFR3ATK3C6YXL/ke17ZwdGBToddI8pDm48kGvCU3ofaFnk2na8IIa9XgMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drOomzIp8xUoS4yo5q2H7t4QiLi92A_L25KY8T8FFrYCCjLISwBs8eEdxAxTptZAUg/favicon.ico?format=100w">
    
    <!-- link to the local custom styles for SqPaymentForm -->
    <link rel="stylesheet" type="text/css" href="mysqpaymentform.css">
    <script src="payment-js.js"></script>
  </head>
  <body>
    <div id="form-container">
      <div class="first-heading"><h5>Make Secure Payments Using Square</h5></div>
      <div class="second-heading"><span><img src="https://xms-production-f.squarecdn.com/xms/assets/public-web-styles/favicon-770e0889aefd823056c7cdbb066a445be0f0754c1b4d4cba877e120fdbcb63e6.ico">Square</span><span><img src="https://images.squarespace-cdn.com/content/v1/5b67020a372b96495b33100f/1559175242910-J3CGRWCYFR3ATK3C6YXL/ke17ZwdGBToddI8pDm48kGvCU3ofaFnk2na8IIa9XgMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drOomzIp8xUoS4yo5q2H7t4QiLi92A_L25KY8T8FFrYCCjLISwBs8eEdxAxTptZAUg/favicon.ico?format=100w"></span></div>
      <input id="payment-name" type="text" placeholder="Name" name="Name" required>
      <input id="payment-amount" type="number" placeholder="Amount" name="Amount" required><span class="dollar-symbol"><i class="fas fa-dollar-sign"></i></span>
      <input id="payment-note" type="text" placeholder="Note" name="Note">
      <div id="card-container"></div>
      <button id="card-button" class="button-credit-card" type="button">Pay</button>
      <!-- <button id="sq-creditcard" class="button-credit-card" onclick="onGetCardNonce(event)">Pay Now</button> -->
      <button class="apple-pay-button apple-pay-button-black" id="sq-apple-pay" onclick="createPaymentRequest(event)"></button>
      <!-- <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay not enabled</div> -->
      <div id="payment-status-container"></div>
    </div> <!-- end #form-container --> 
    <!-- TODO: Add script from step 1.1.3 -->
     
  </body>
</html>
