<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Push The Limit Fitness</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5b67020a372b96495b33100f/1559175242910-J3CGRWCYFR3ATK3C6YXL/ke17ZwdGBToddI8pDm48kGvCU3ofaFnk2na8IIa9XgMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drOomzIp8xUoS4yo5q2H7t4QiLi92A_L25KY8T8FFrYCCjLISwBs8eEdxAxTptZAUg/favicon.ico?format=100w">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"  href="/buttons.dataTables.min.css">
    <link rel="stylesheet"  href="/self_assessment.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/3c3721e7e6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/addons/cleave-phone.us.js" integrity="sha512-sYKXH+IAMtg7mVursFAH+Xu1mIvmSqTd8LTEhKdRmvJhtX2IKUFpkZBZ9pigORvIR6Nt5klEF/P+psiJRa6crQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/buttons.flash.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/buttons.html5.min.js"></script>
    <script src="/js/buttons.print.min.js"></script>
    
</head>
<style>
    .is-info.input {
        border-color: #177978;
    }

    .is-info.input:active, .is-info.input:focus {
        box-shadow: 0 0 0 0.125em rgb(200, 185, 70);
    }
    /*.field.has-addons{*/
    /*    padding-left: 2px;*/
    /*    padding-right: 2px;*/
    /*}*/
    .ui-timepicker-standard a {
        font-size: 14px;
    }
    .ui-timepicker-standard .ui-state-hover {
        background-color: #C8B946;
        border: 1px solid #C8B946;
    }
</style>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="/images/ptl-fitness-logo.png" width="140">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
            <a class="navbar-item announcements" href="https://www.pushthelimitfit.com/">
                Home
            </a>
            <a class="navbar-item announcements" href="https://www.pushthelimitfit.com/the-gym">
                About
            </a>
            <a class="navbar-item current-page" href="https://www.pushthelimitfit.com/training">
                Training
            </a>
            <a class="navbar-item current-page" href="https://www.pushthelimitfit.com/ptl-fit-camp">
                Fit Camp
            </a>

            <a class="navbar-item current-page" href="https://www.pushthelimitfit.com/contact">
                Contact
            </a>
            

            <a class="navbar-item current-page" href="https://www.pushthelimitfits.com/payment">
                Make a Payment
            </a>

        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="hpanel">
            <div class="panel-body text-center h-200">
                <!-- <h1 style="margin-top: 1rem;"><span class="font-extra-bold no-margins text-success" style="float: left;"> Request Info</span></h1> -->
            </div>
        </div>
        <form action="request_form" autocomplete="off" method="POST" id="request_form" style="margin-top: 1rem">
            <div class="field-wrap">
                <div class="field main-3" >
                    <label class="label">Have you experienced any of the following symptoms in the past 48 hours:
                        Fever or Chills, Cough, Shortness of breathing or difficulty breathing, fatigue, muscle or body aches, headache, loss of taste or smell, sore throat, congestion or runny nose, nausea or vomiting, diarrhea
                    </label>
                    <div class="control has-icons-left">
                        <label class="radio"><input type="radio" name="q1_yes" value="Yes" required> Yes</label><label class="radio"><input type="radio" name="q1_yes" value="No"> No</label>
                    </div>
                </div>
                <div class="field main-3" >
                    <label class="label">Have you had close contact with a laboratory confirmed case of COVID-19 in the last 14 days?
                    </label>
                    <div class="control has-icons-left">
                        <label class="radio"><input type="radio" name="q2_yes" value="Yes" required> Yes</label><label class="radio"><input type="radio" name="q2_yes" value="No"> No</label>
                    </div>
                </div>
                <div class="field main-3" >
                    <label class="label">Was your daily temperature self-screening greater than 100.4 degrees fahrenheit?
                    </label>
                    <div class="control has-icons-left">
                        <label class="radio"><input type="radio" name="q3_yes" value="Yes" required> Yes</label><label class="radio"><input type="radio" name="q3_yes" value="No"> No</label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Note: </label>
                    <p>Fully Vaccinated clients are not required to wear a mask during your workout.  Per the CDC guidelines are you are not considered fully vaccinated until 2 weeks after your final dose of the vaccine.  At PTL, we value the integrity of our clients and will use the honor system as proof of vaccination, we will not ask to verify your vaccination card.</p>
                </div>
                <div class="field">
                    <label class="label is-small">First Name</label>
                    <div class="control has-icons-left">
                        <input id="first_name" class="input is-info is-small" type="text" placeholder="First Name" name="FirstName" >
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field" >
                    <label class="label is-small">Last Name</label>
                    <div class="control has-icons-left">
                        <input id="last_name" class="input is-info is-small" type="text" placeholder="Last Name" name="LastName">
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Email</label>
                    <div class="control has-icons-left">
                        <input id="email" class="input is-info is-small" type="text" placeholder="Email" name="Email" >
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Phone Number [+1 ]</label>
                    <div class="control has-icons-left">
                        <input id="phone" class="input is-info is-small" maxlength="10" pattern="[1-9]{1}[0-9]{9}" type="text" placeholder="1234567890" name="Phone" >
                        <span class="icon is-left"><i class="fas fa-phone"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Select Service</label>
                    <div class="control has-icons-left">
                        <div class="select is-info is-small is-fullwidth">
                            <select id="description" name="Description">
                                <option value="">...</option>
                                <option value="Bootcamp">Bootcamp ($15 per session)</option>
                                <option value="Personal Session">Personal Session</option>
                                <option value="Consultation">Consultation</option>
                            </select>
                        </div>
                        <span class="icon is-small is-left"><i class="fas fa-sort-alpha-down"></i></span>

                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Payment Mode</label>
                    <div class="control has-icons-left">
                        <div class="select is-info is-small is-fullwidth">
                            <select id="payment_mode" name="PaymentMode">
                                <option value="">...</option>
                                <option value="Cash">Cash</option>
                                <option value="CreditDebit-card">Credit/Debit card</option>
                                <option value="Pre-paid">Pre-paid</option>
                            </select>
                        </div>
                        <span class="icon is-small is-left"><i class="fas fa-sort-alpha-down"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Comment</label>
                    <div class="control has-icons-left">
                        <textarea id="comment" style="width:100%; padding: 11px 5px 11px 35px;" type="text" placeholder=" If paying by cash or pre-paid, please indicate payment amount" name="Comment" rows="2" cols="50"></textarea>
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card" style="margin:auto; width:50%;">
                        <header class="modal-card-head">
                            <p class="modal-card-title"></p>
                            <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            Thank you for your business
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success" id="confirm">Confirm</button>
                        </footer>
                    </div>
                </div>
            </div>

            <button id="submit-btn" type="submit" class="button is-info is-fullwidth" style="margin-bottom: 30px;">Submit</button>

            <div id="submit-btn-bar" class="submit-button-bar">
                <button class="" type="">Submit</button>
            </div>
        </form>
    </div>
</section>

</body>
<script>
    $(document).ready(function () {

        $('#form_time').timepicker({
            timeFormat: 'h:mm p',
            interval: 15,
            minTime: '10',
            maxTime: '6:00pm',
            // defaultTime: '11',
            startTime: '10:00',
            dynamic: false,
            dropdown: true,
            listWidth: 1,
            scrollbar: false
        });
        $('.navbar-burger').click(function () {

            $('.navbar-burger').toggleClass("is-active");
            $('.navbar-menu').toggleClass("is-active");
        });

        $('#form_date').toArray().forEach(function (field) {

            new Cleave(field, {
                date: true,
                delimiter: '-',
                datePattern: ['m', 'd', 'Y'],
            })
        });
        $('input[id*=form_date]').toArray().forEach(function (field) {

            new Pikaday({
                field: field,
                trigger: $('#' + field.id + '_btn')[0],
                format: 'MM-DD-YYYY',
            })
        });
        $('#submit-btn, #submit-btn-bar').click(function(event){
            event.preventDefault();
            let valid = true;
            let first_name = $('#first_name').val();
            let last_name = $('#last_name').val();
            let email = $('#email').val();
            let phone = $('#phone').val();
            let description = $('#description').val();
            let payment_mode = $('#payment_mode').val();
            let comment = $('#comment').val().trim();
            let phoneno = /^\d{10}$/;
            var phone_matching = phone.match(phoneno);

            var tim = /((1[0-2]|0?[1-9]):([0-5][0-9]) ?([AaPp][Mm]))/;

            var q1_ques = $('input[name="q1_yes"]:checked').val();
            var q2_ques = $('input[name="q2_yes"]:checked').val();
            var q3_ques = $('input[name="q3_yes"]:checked').val();
            first_name = first_name.trim();
            last_name = last_name.trim();
            description = description.trim();

            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var out_email =  re.test(email);

            if(q1_ques === undefined){
                alert("Please Answer the first question");
                valid = false;
                $(this).focus();
                return false;
            }
            if(q2_ques === undefined){
                alert("Please Answer the second question");
                valid = false;
                $(this).focus();
                return false;
            }
            if(q3_ques === undefined){
                alert("Please Answer the third question");
                valid = false;
                $(this).focus();
                return false;
            }
            if ( first_name === "" ) {

                alert("Please enter first name.");
                valid = false;
                $(this).focus();
                return false;
            }
            if ( last_name === "" ) {

                alert("Please enter last name.");
                valid = false;
                $(this).focus();
                return false;
            }
            if (  out_email === false ) {
                alert("Please enter valid email.");
                valid = false;
                $(this).focus();
                return false;
            }
            if (  phone_matching === null ) {
                alert("Please enter valid Phone number.");
                valid = false;
                $(this).focus();
                return false;
            }

            if (  description === '' ) {
                alert("Please select a service.");
                valid = false;
                $(this).focus();
                return false;
            }
            if (  payment_mode === '' ) {
                alert("Please select a payment mode.");
                valid = false;
                $(this).focus();
                return false;
            }
            if( (payment_mode === 'Cash' || payment_mode === 'Pre-paid') && comment === '' ){
                alert("Please enter comment");
                valid = false;
                $(this).focus();
                return false;
            }

            if ( valid ){

                $('.modal').css('display', 'flex')
                $('.delete').click(()=>{
                    $('.modal').css('display', 'none');
                    return false;
                })
                $('#confirm').click(function () {
                    console.log("submitting");
                    document.getElementById('request_form').submit();
                });

            }
            return valid;
        });
    });

</script>

</html>