<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Health Assessment</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"  href="/buttons.dataTables.min.css">
    <link rel="stylesheet"  href="/self_assessment.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/3c3721e7e6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/addons/cleave-phone.us.js" integrity="sha512-sYKXH+IAMtg7mVursFAH+Xu1mIvmSqTd8LTEhKdRmvJhtX2IKUFpkZBZ9pigORvIR6Nt5klEF/P+psiJRa6crQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/buttons.flash.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/buttons.html5.min.js"></script>
    <script src="/js/buttons.print.min.js"></script>
    
</head>
<style>
    .is-info.input {
        border-color: #177978;
    }

    .is-info.input:active, .is-info.input:focus {
        box-shadow: 0 0 0 0.125em rgb(200, 185, 70);
    }
</style>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="container">
            <a class="navbar-item gym" href="https://www.pushthelimitfit.com/">
                < GYM
            </a>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="container">
            <div class="navbar-end">
                <a class="navbar-item gym" href="https://www.pushthelimitfit.com/">
                < GYM
                </a>
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="hpanel">
            <div class="panel-body text-center h-200">
                <h1 style="margin-top: 1rem;"><span class="font-extra-bold no-margins text-success" style="float: left;"> Request Info</span></h1>
            </div>
        </div>
        <form action="request_form" method="POST" id="daily_assessment" style="margin-top: 1rem">
            <div class="field-wrap">

                <div class="field">
                    <label class="label is-small">First Name</label>
                    <div class="control has-icons-left">
                        <input id="first_name" class="input is-info is-small" type="text" name="FirstName" required>
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field" >
                    <label class="label is-small">Last Name</label>
                    <div class="control has-icons-left">
                        <input id="last_name" class="input is-info is-small" type="text" name="LastName">
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Email</label>
                    <div class="control has-icons-left">
                        <input id="email" class="input is-info is-small" type="text" name="Email" required>
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Date</label>
                    <div class="control has-icons-left">
                        <input id="email" class="input is-info is-small" type="date" name="date" required>
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Time</label>
                    <div class="control has-icons-left">
                        <input id="email" class="input is-info is-small" type="time" name="time" required>
                        <span class="icon is-left"><i class="far fa-circle"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-small">Description</label>
                    <div class="control has-icons-left">
                        <textarea id="description" class="input is-info is-small" name="Description"></textarea>
                        <span class="icon is-left"><i class="far fa-sticky-note"></i></span>
                    </div>
                </div>
            </div>

            <button id="submit-btn" type="submit" class="button is-info is-fullwidth">Submit</button>

            <div id="submit-btn-bar" class="submit-button-bar">
                <button class="" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>

</body>

</html>